.sidebar {
    // flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    height: 100%;
    background-color: rgba(196, 196, 196, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    // overflow-y: scroll;
    // overflow-x: hidden;
    overflow: auto;
    border: none;
    .top {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #c4c4c4;
        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #000000;
        }
    }
    hr {
        height: 0;
        border: 0.5px solid rgb(230, 227, 227);
    }
    .center {
        padding-left: 10px;
        height: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            .title {
                font-size: 10px;
                font-weight: bold;
                color: #000000;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            a.active {
                background: #fff;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-radius: 30px 0px 0px 30px;
                width: 115%;
            }
            li {
                padding: 13px;
                width: 100%;
                cursor: pointer;
                a {
                    display: flex;
                    align-items: center;
                    padding-left: 1rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    width: 115%;
                    position: relative;
                    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
                    left: 0;
                    transition: left linear 0.1s;
                    &:hover {
                        background: #fff;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        border-radius: 30px 0px 0px 30px;
                        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
                        left: -4px;
                    }
                }
                .icon {
                    font-size: 35px;
                    color: #000000;
                }
                span {
                    font-size: 18px;
                    font-weight: 500;
                    color: #888;
                    margin-left: 10px;
                    width: 150px;
                }
            }
        }
    }
    .bottom {
        padding-top: 200px;
        padding-bottom: 20px;
        color: #000000;
        a {
            margin-top: 20px;
            color: #000000;
            font-size: 18px;
            margin-left: 50px;
        }
    }
    hr {
        width: 80%;
        border: 0.5px solid rgba(0, 0, 0, 0.25);
        margin-left: auto;
        margin-right: auto;
    }
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar {
    width: 5px;
    // background: #fff;
    // border-radius: 10px;
    // visibility: hidden;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

// ::-webkit-scrollbar:hover {
//     width: 10px;
//     background: #fff;
//     border-radius: 10px;
//     visibility: visible;
// }
// .sidebar::-webkit-scrollbar-thumb
.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
    visibility: hidden;
}

// .sidebar::-webkit-scrollbar-thumb:hover{
// }
.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
    border-radius: 10px;
    visibility: visible;
}

body::-webkit-scrollbar {
    width: 0;
    // background: #fff;
    // border-radius: 10px;
    // visibility: hidden;
}