.navbar {
    // position: fixed;
    // white-space: nowrap;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 1000;
    font-size: 14px;
    color: #555;
    background-color: #eee;
    height: 100px;
    margin-left: 20px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    border-bottom-left-radius: 20px;
    align-items: center;
    width: 82%;
    margin-bottom: 200px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            input {
                border: none;
                outline: none;
                background: transparent;
                &::placeholder {
                    font-size: 12px;
                }
            }
        }
        .items {
            display: flex;
            align-items: center;
            cursor: pointer;
            .item {
                display: flex;
                align-items: center;
                margin-right: 40px;
                position: relative;
                .icon {
                    font-size: 30px;
                }
                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
            ul {
                list-style-type: none;
            }
            .username {
                padding-left: 10px;
                display: flex;
            }
            .menu {
                right: 65px;
                // border-bottom-left-radius: 10px;
                // border-bottom-right-radius: 10px;
                top: 65px;
                position: absolute;
                background-color: white;
                padding: 30px;
                text-align: left;
                border: 0.5px solid #c4c4c4;
            }
            .menu span {
                text-align: left;
            }
            .menu span:hover {
                background-color: rgba(128, 126, 126, 0.3);
                width: 100%;
            }
        }
        .sub-menu-wrap {
            position: absolute;
            top: 70%;
            right: 4%;
            width: 350px;
            // border: 1px solid #c4c4c4;
            z-index: 5;
            max-height: 0px;
            display: none;
        }
        .sub-menu-wrap.open-menu {
            max-height: 450px;
            display: block;
        }
        .sub-menu {
            background: #fff;
            padding: 20px;
            margin: 15px;
            z-index: 4;
            border: 1px solid #c4c4c4;
            border-radius: 2%;
        }
        .user-info {
            display: flex;
            align-items: center;
        }
        .user-info h3 {
            font-weight: 500;
        }
        .user-info img {
            width: 60px;
            border-radius: 50%;
            margin-right: 15px;
        }
        .sub-menu hr {
            border: 0;
            height: 1px;
            width: 100%;
            background: #ccc;
            margin: 15px 0 10px;
        }
        .sub-menu-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #525252;
            margin: 12px 0;
        }
        .syb-menu-link p {
            width: 100%;
        }
        .sub-menu-link .icon {
            width: 40px;
            background: #e5e5e5;
            border-radius: 50%;
            padding: 8px;
            margin-right: 15px;
            font-size: 40px;
        }
        .sub-menu-link {
            font-size: 22px;
            transition: transform 0.5s;
            padding-top: 10px;
        }
        .sub-menu-link:hover {
            transform: translateX(6px);
        }
        .sub-menu-notifi {
            position: absolute;
            top: 70%;
            right: 15%;
            width: 350px;
            // border: 1px solid #c4c4c4;
            z-index: 5;
            max-height: 0px;
            display: none;
            .sub-menu {
                background: #fff;
                // padding: 20px;
                margin: 15px;
                z-index: 4;
                border: 1px solid #c4c4c4;
                .sub-menu-top {
                    border-bottom: 1px solid #c4c4c4;
                }
                .sub-menu-center {
                    padding: 5px;
                    .sub-menu-item {
                        width: 100%;
                        padding: 15px;
                        &:hover {
                            background-color: #fafafb;
                        }
                    }
                    .notifi {
                        display: flex;
                    }
                }
                .sub-menu-footer {
                    text-align: center;
                    border-top: 1px solid #c4c4c4;
                    .buttonViewAll {
                        padding-top: 10px;
                        height: 20px;
                        &:hover {
                            padding-top: 10px;
                            height: 20px;
                            color: blue;
                        }
                    }
                }
            }
        }
        .sub-menu-notifi.open-menu-notifi {
            max-height: 450px;
            display: block;
        }
    }
}