.ListRoomContainer {
    width: 100%;
    height: 600px;
    padding: 20px;
    .FillterRoom {
        display: flex;
         :nth-child(2),
         :nth-child(3) {
            padding-left: 20px;
        }
        .FillterAll {
            width: 150px;
            background-color: gray;
            border-radius: 10px;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
        .FillterEmpty {
            width: 150px;
            background-color: green;
            border-radius: 10px;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
        .FillterNotEmpty {
            width: 150px;
            background-color: yellow;
            border-radius: 10px;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
    .RoomContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}