.CreateNewRoomContainer {
    width: 100%;
    padding: 20px;
    margin-top: 100px;
    .InfoRoomBooking {
        .top-form {
            display: flex;
            width: 70%;
            align-items: center;
            .roomNo {
                display: flex;
                align-items: center;
                width: 90%;
            }
            .title {
                width: 20%;
            }
        }
        .buttonCheckIn {
            width: 100%;
            padding-bottom: 5px;
            display: flex;
            justify-content: flex-end;
            position: relative;
            top: 50px;
            .buttonCheckInItem {
                color: #000000;
                background-color: rgba(196, 196, 196, 0.5);
                font-size: 16px;
                font-weight: 400;
                border: 1px solid #000000;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                width: 20%;
                &:hover {
                    color: #000000;
                    background-color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    border: 1px solid #000000;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    width: 20%;
                }
            }
        }
        .InfoRoom {
            // margin-bottom: 20px;
            .InfoRoomItem {
                padding-top: 5px;
            }
            .label {
                font-weight: 300;
                color: #000000;
            }
            .title {
                width: 100%;
            }
            // span {
            //     font-style: 700;
            //     font-size: 20px;
            // }
            // button {
            //     color: #000000;
            //     background-color: rgba(196, 196, 196, 0.5);
            //     font-size: 16px;
            //     font-weight: 400;
            //     border: 1px solid #000000;
            //     padding: 5px;
            //     border-radius: 5px;
            //     cursor: pointer;
            //     width: 20%;
            //     &:hover {
            //         color: #000000;
            //         background-color: #fff;
            //         font-size: 16px;
            //         font-weight: 400;
            //         border: 1px solid #000000;
            //         padding: 5px;
            //         border-radius: 5px;
            //         cursor: pointer;
            //         width: 20%;
            //     }
            // }
        }
        .datagrid {
            height: 260px;
            .MuiDataGrid-footerContainer {
                display: none;
            }
        }
        .buttonAddCustomer {
            // margin-top: 10px;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .buttonAddCustomerItem {
                margin-top: 5px;
                color: #000000;
                background-color: rgba(196, 196, 196, 0.5);
                font-size: 16px;
                font-weight: 400;
                border: 1px solid #000000;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                width: 20%;
                &:hover {
                    color: #000000;
                    background-color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    border: 1px solid #000000;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    width: 20%;
                }
            }
        }
    }
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;
        .updateButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: #fff;
            border: 1px solid rgba(220, 207, 20, 0.6);
            background-color: rgba(220, 207, 20, 0.6);
            cursor: pointer;
            &:hover {
                padding: 2px 5px;
                border-radius: 5px;
                background-color: #fff;
                color: rgb(175, 175, 5);
                border: 1px solid rgba(220, 207, 20, 0.6);
                cursor: pointer;
            }
        }
        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: #fff;
            border: 1px solid #d64949;
            background-color: #d64949;
            cursor: pointer;
            &:hover {
                padding: 2px 5px;
                border-radius: 5px;
                color: #d64949;
                border: 1px solid #d64949;
                background-color: #fff;
                cursor: pointer;
            }
        }
    }
}