.datatableRequestService {
    width: 100%;
    padding: 40px;
    height: auto;
    margin-top: 120px;
    margin-left: 245px;
    .MuiDataGrid-main {
        padding-left: 10px;
        .MuiDataGrid-columnHeaders {
            padding-left: 10px;
        }
    }
    .InfoRoomItem {
        #actualArrivalDate {
            height: 0.875rem;
        }
    }
    // .fillter {
    //     display: flex;
    //      :nth-child(0) {
    //         background-color: grey;
    //     }
    //     .fillterItem {
    //         width: 150px;
    //         height: 50px;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         a {
    //             text-decoration: none;
    //         }
    //     }
    // }
    .datagrid {
        height: 500px;
        width: 1220px;
    }
    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .cellWithImg {
        display: flex;
        align-items: center;
        &.BOOKED {
            padding: 5px;
            background-color: #fff;
            color: orange;
            border: 0.5px solid orange;
            border-radius: 5px;
        }
        &.CHECKIN {
            padding: 5px;
            background-color: #fff;
            color: green;
            border: 0.5px solid green;
            border-radius: 5px;
        }
        &.CHECKOUT {
            padding: 5px;
            background-color: #fff;
            color: red;
            border: 0.5px solid red;
            border-radius: 5px;
        }
        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }
    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;
        &.DONE {
            // background-color: rgba(0, 128, 0, 0.05);
            color: green;
            border: 1px solid green;
        }
        &.BOOKED {
            // background-color: rgba(255, 0, 0, 0.05);
            color: red;
            border: 1px solid red;
        }
        &.PROCESSING {
            color: rgb(175, 175, 5);
            border: 1px solid rgb(175, 175, 5);
        }
    }
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;
        .updateButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: rgb(175, 175, 5);
            border: 1px solid rgba(220, 207, 20, 0.6);
            cursor: pointer;
        }
        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.596);
            cursor: pointer;
        }
        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.6);
            cursor: pointer;
        }
    }
}